{% extends 'base.html.twig' %}

{% block body %}
    <h1>Schedule Entry edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" />
    {{ form_end(edit_form) }}

<span id="previewimage"><img class='img-responsive img-thumbnail' src='/asset/{{ scheduleItem.asset.id }}/thumbimage' /></span>
    <ul>
        <li>
            <a href="{{ path('channel_schedule', { 'id' : scheduleItem.channel.id })  }}">Back to schedule</a>
        </li>
    </ul>
{% endblock %}
