{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asset Manager</h1>







<div class="row">
<div class="panel panel-default">
<div class="panel-heading">Add asset...</div>
    <div class="panel-body">
        <div class="form form-inline">
            {{ form_start(form) }}
                {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.mimeType, 'Type') }}
                {{ form_errors(form.mimeType) }}
                {{ form_widget(form.mimeType) }}
            </div>    
            <div class="form-group">
                {{ form_label(form.ownerGroup, 'Owner Group') }}
                {{ form_errors(form.ownerGroup) }}
                {{ form_widget(form.ownerGroup) }}
            </div>    
            <div class="form-group">
                {{ form_errors(form.uriFile) }}
                {{ form_widget(form.uriFile) }}
            </div>    
            
            <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Add" />
            </div>
    {{ form_end(form) }}
            </div>
    </div>
</div>
</div>











<a href="{{ path('asset_new') }}">Upload new asset</a>


<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th>Name</th>
                <th>Thumb</th>
                <th>Used in channels:</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in pagination %}
            <tr>
                <td><a href="{{ path('asset_show', { 'id': asset.id }) }}">
                    {{ asset.name }}</a></td>
                <td>
                    {% if asset.mimeType == 'TYPE_IMAGE' %}
                    <img src="{{ vich_uploader_asset(asset, 'uriFile') | imagine_filter('1080_thumb')  }}" alt="{{ asset.uri }}" />
                    {% elseif asset.mimeType == 'TYPE_VIDEO' %}
                        Video thumbnail not available yet
                    {% endif %}
                </td>
                <td><ul>
                    {% for schedule in asset.scheduleItem %}
                    
                        <li>{{ schedule.channel.name }}</li>
                {% endfor %}
                    
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('asset_show', { 'id': asset.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('asset_edit', { 'id': asset.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
    </div>
</div>

{% endblock %}
