{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asset</h1>

{{ asset.mimeType }}
    <table>
        <tbody>
            <tr>
                <th>Updatedat</th>
                <td>{% if asset.updatedAt %}{{ asset.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ asset.uri }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ asset.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if asset.mimeType == 'TYPE_IMAGE' %}
                    <img src="{{ vich_uploader_asset(asset, 'uriFile') | imagine_filter('1080_thumb')  }}" alt="{{ asset.uri }}" />
                    {% elseif asset.mimeType == 'TYPE_VIDEO' %}
                    <video width="320" height="240" controls>
                        <source src="{{ vich_uploader_asset(asset, 'uriFile') }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('asset_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('asset_edit', { 'id': asset.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
