{% extends 'base.html.twig' %}
{% block title %}
Channel Scheduler
{% endblock %}
{% block body %}

<div class="row"><h1>Schedule for {{ channel.name }}</h1>
</div>



<div class="row">
    
        <div class="col col-md-3">
<div class="well well-sm">
     {% if channel.inherits %}
        <p>
            This channel inherits items from <a href="{{ path('channel_schedule', { 'id' : channel.inherits.id }) }}">{{ channel.inherits.name }}.</a>
        </p>
        {% elseif channel.children %}
        <p>The following channels inherit this schedule</p>
        <ul>
        {% for row in channel.children %}
        <li><a href="{{ path('channel_schedule', {'id' : row.id }) }}">
                {{ row.name }}
            </a></li>
        {% endfor %}
            </ul>
        {% endif %}
    </div>
    </div>
    
        <div class="col col-md-9">
<div class="panel panel-default">
<div class="panel-heading">Add asset...</div>
    <div class="panel-body">
        <div class="col col-md-9">
        <div class="form form-inline">
            {{ form_start(add_form) }}
                {{ form_errors(add_form) }}
            <div class="form-group">
                {{ form_label(add_form.start, 'Start time') }}
                {{ form_errors(add_form.start) }}
                {{ form_widget(add_form.start) }}
            </div>    
            <div class="form-group">
                {{ form_label(add_form.stop, 'End time') }}
                {{ form_errors(add_form.stop) }}
                {{ form_widget(add_form.stop) }}
            </div>    
            <div class="form-group">
                {{ form_label(add_form.duration, 'Duration (leave blank for default)') }}
                {{ form_errors(add_form.duration) }}
                {{ form_widget(add_form.duration) }}
            </div>    
            <div class="form-group">
                {{ form_label(add_form.asset, 'Asset to add') }}
                {{ form_errors(add_form.asset) }}
                {{ form_widget(add_form.asset) }}
            </div>
            
            <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Add" />
            </div>
    {{ form_end(add_form) }}
            </div>
            </div>
        <div class="col col-md-3">
            <span id="previewimage"></span>
        </div>
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col col-md-12">
<table class="table table-hover table-condensed">
    <thead>
        <th>Order</th>
        <th>Asset</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Thumbnail</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for row in channel.scheduleItem | sortbyfield('sequence') %}
        <tr>
            <td>
                <a href="{{ path('scheduleitem_move', { 'id' : row.id, 'direction' : 'up' }) }}"><span style="font-size: 25px;" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span><span class="sr-only">move up</span></a>
                <a href="{{ path('scheduleitem_move', { 'id' : row.id, 'direction' : 'down' }) }}"><span style="font-size: 25px;" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="sr-only">move down</span></a>
            </td>
            <td>{{ row.asset.name | default(row.asset.uri) }}</td>
            <td>{{ row.start | date("d/m/Y") }}<br />{{ row.start | date("H:i") }}</td>
            <td>{{ row.stop | date("d/m/Y") }}<br />{{ row.stop | date("H:i") }}</td>
            <td>{{ row.duration | default(channel.duration)}}</td>
            <td>
                {% if row.asset.mimeType == 'TYPE_IMAGE' %}
                <a href="{{ vich_uploader_asset(row.asset, 'uriFile') | imagine_filter('1080_medium')  }}" data-toggle="lightbox" data-title="{{ row.asset.name }}" data-footer="{{ row.asset.uri }}">
                    <img src="{{ vich_uploader_asset(row.asset, 'uriFile') | imagine_filter('1080_thumb')  }}" alt="{{ row.asset.uri }}" class="img-responsive img-thumbnail" />
                </a>
                
                    {% elseif row.asset.mimeType == 'TYPE_VIDEO' %}
                        Video thumbnail not available yet
                {% endif %}
            </td>
            <td>
                <a href="{{ path('scheduleitem_delete_direct', { 'id' : row.id }) }}" class="btn btn-danger" role="button">Remove</a>
                <a href="{{ path('scheduleitem_edit', { 'id' : row.id }) }}" class="btn btn-default" role="button">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div></div>

    <ul>
        <li>
            <a href="{{ path('channel_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
